---
import type { Movie } from "../types/movies";
import TrashCanIcon from "@components/icons/TrashCanIcon.astro";

interface Props {
  movie: Movie;
}

const { movie } = Astro.props;
---

<div
  class="movie-card"
  data-status={movie.watched ? "watched" : "unwatched"}
  data-id={movie.id}
>
  <img src={movie.poster} alt={`${movie.title} poster`} />
  <div class="movie-info">
    <h3>{movie.title}</h3>
    <p>{movie.releaseYear}</p>
  </div>
  <div class="hover-options">
    <button class="watch-btn">{movie.watched ? "Por ver" : "Visto"}</button>
  </div>
  <button class="trash-btn" aria-label="Delete movie">
    <TrashCanIcon />
  </button>
</div>

<style is:global>
  .movie-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  .movie-card:hover {
    transform: scale(1.05);
  }
  .movie-card img {
    width: 100%;
    height: auto;
  }
  .movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    color: white;
  }
  .movie-info h3 {
    margin: 0;
    font-size: 1rem;
  }
  .movie-info p {
    margin: 0.5rem 0 0;
    font-size: 0.8rem;
  }
  .hover-options {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s;
  }
  .movie-card:hover .hover-options {
    opacity: 1;
  }
  .watch-btn {
    padding: 0.5rem 1rem;
    background-color: rgb(var(--accent));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .trash-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .trash-btn:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  .trash-btn svg {
    width: 18px;
    height: 18px;
    color: white;
  }
</style>

<script>
  import { createDeleteMoviesEvents, createPatchMoviesWatchedEvents } from '@utils/events';

  createPatchMoviesWatchedEvents()
  createDeleteMoviesEvents()
</script>
